.main {
    background-image: url(../assets/home-header.jpg);
    background-size: cover;
    // min-height: 100%;
    height: 90vh;
    background-position: center;

    h1 {
        font-weight: 600;
        font-size: 6.9rem;
        width: 30%;
        margin-top: 5%;
        padding-left: 1%;
        padding-top: 1%;
        .restaurant {
            color: black;
            background-color:white;
            // padding: 1% 1%;
            // padding-bottom: 0;
            // text-align: center;
        }
    }

}

.contact {
    background-image: url(../assets/contact-header.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.blog-header {
    background-image: url(../assets/blog-header.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;

}

header {
    position: relative;
    nav {
        padding-top: 3%;
        font-weight: 700;
        font-size: 2rem;
        line-height: 29px;
        letter-spacing: 1px;;
        ul {
            display: flex;
            justify-content: space-around;
            width: 40%;

            li {
                padding: 10px 0;
                &:hover {
                    border-bottom: 2px solid $secondaryColor;
                }
            }
        }
    }
}

.home-image-overlay {
    position: absolute;
    top: 30%;
    right: 0;
    width: 50%;
    // position: sticky;
    img {
        // position: sticky;
    }
}