.main {
    background-image: url(../assets/home-header.jpg);
    background-size: cover;
    min-height: 100%;
    height: 75vh;
    background-position: center;

    h1 {
        font-weight: 600;
        font-size: 6.9rem;
        width: 30%;
        margin-top: 5%;
        padding-left: 1%;
        padding-top: 1%;

        @media (max-width: 900px) {
            width: 100%;   
            text-align: center; 
            background-color: rgba(255, 255, 255, 0.3);  
            color: $primary-black;
            text-shadow: 2px 2px white;
            padding: 0;
            border-radius: 5px;
            padding-top: 1%;
            margin-top: 20%;
            // display: inline; 
            // margin: 0 auto;
                }

                @media (max-width: 600px) {
                    font-size: 5.5rem;
                    margin-top: 30%;
                }

                @media (max-width: 485px) {
                    font-size: 5rem;
                    margin-top: 35%;
                }
        .restaurant {

            color: black;
            background-color:white;
            @media (max-width: 900px) {
                background-color: transparent;
                color: $primary-black;
            }
            // padding: 1% 1%;
            // padding-bottom: 0;
            // text-align: center;
        }
    }

}

.contact {
    background-image: url(../assets/contact-header.jpg);
    background-size: cover;
    height: 75vh;
    background-position: center right;
}

.blog-header {
    background-image: url(../assets/blog-header.jpg);
    background-size: cover;
    height: 75vh;
    background-position: center right;

    @media (max-width:1000px) {
        background-position: center left 70%;
    }

}

header {
    position: relative;
    nav {
        padding-top: 3%;
        font-weight: 700;
        font-size: 2rem;
        line-height: 29px;
        letter-spacing: 1px;;
        ul {
            display: flex;
            justify-content: space-around;
            width: 40%;

            @media (max-width: 900px) {
                width: 100%;
                // align-items: center;
                justify-content: space-evenly;
                }

            li {
                padding: 10px 0;

                

                &:hover {
                    border-bottom: 2px solid $secondaryColor;
                }

                a {
                    text-shadow: 2px 2px 0 black;
                }
            }
        }
    }
}

.home-image-overlay {
    position: absolute;
    top: 30%;
    right: 0;
    width: 50%;
    z-index: 5;
    // position: sticky;
    // img {
    //     // position: sticky;
    // }

      @media (max-width: 1200px) {
        width: 40%;
        top: 60%;
        // bottom: 10%;
    }

    @media (max-width: 900px) {
        display: none;
    }

}