

.info, .gift, .nature {
    background-color: $primary-background;
}

.yummy-burger, .gallery {
    background-color: darken($primary-background, 5%);
}

.full-image {
    img {
        display: block;
    }
}

.find-out-more {
    background: $primary-black;
    padding: 1% 3%;
    text-transform: uppercase;

    &:hover {
        background: $secondaryColor;
        color: $primary-black;
    }
}

.info {
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    // float: left;
    // width: 50%;
    // p {
        // padding-left: 10%;
    // }

    .location, .blog, .community, .get-in-touch {
        display: flex;
        width: 50%;
        padding: 5% 1%;
        margin-bottom: 10%;

        @media (max-width:800px) {
            width: 100%;
            margin-bottom: 5%;
            padding: 2% 0;
            
        }
    }

    .get-in-touch {
        @media (max-width:800px) {
            margin-bottom: 10%;
        }
    }
    i {
        background-color: $secondaryColor;
        border-radius: 50% 50%;
        width: 40px;
        height: 40px;
        color: black;
        float: left;
        text-align: center;
        line-height: 1.8;
        margin-right: 3%;
        flex-shrink: 0;
        // is this the correct way to center this?
        // display: flex;
        // display: inline;
        // border: 1px solid black;
        // width: 3%;
    }
}

.gallery-images {
    display: flex;
    // justify-content: space-around;
    img {
        padding: 2%;
    }

}

.read-more {
    background: $secondaryColor;
    padding: 1% 2%;
    color: black;
    text-transform: uppercase;

    &:hover {
        background: $primary-black;
        color: $secondaryColor;
    }
}

// .yummy {
//     position: relative;
//     .burger-image {
//         position: absolute;
//         top: -50px;
//         left: -10%;
//         background: $secondaryColor;
//         background-size: cover;
//         background-position: right bottom;
        // transform: translateX(-50px);
        // border: 5px solid $secondaryColor;
        // border-left: none;
        // border-bottom-width: 80%;
        // .burger-background {
            // fill: $secondaryColor;
            // width: 100%;
//         }

//         img {

//         }
//     }

//     .burgers {
//         padding-top: 50%;
//     }
// }

.yummy-burger {
    padding-top: 5%;

    .something-new-section {
        display: flex;
        text-align: right;
        justify-content: space-between;

        @media (max-width: 900px) {
            flex-wrap: wrap;    
            text-align: center;
            padding: 0;
            margin: 0;
            // display: block        
        }
        
        h2 {
            margin-top: 5%;
        }
        
        p, .read-more {
                margin: 3% 0;
            }
    .something-new {
        width: 38%;
        margin-left: 3%;
            margin-right: 9%;

            @media (max-width: 900px) {
                width: 100%;
                padding: 0;
                margin: 0 auto;
            }
    }

    .something-new-image {
            // position: relative;
            width: 50%;
            @media (max-width: 900px) {
                width: 100%;
                box-shadow: none;
                // transform: translateX(0) translateY(0);
            }

            img {
                display: block;
                box-shadow: -35px 35px 0 -20px $secondaryColor;
                
                @media (max-width: 900px) {
                    box-shadow: 0px 0px $secondaryColor;
                    display: inline-block;
                    // border: 5px solid $secondaryColor;
                }
        }
}}

.yummy {
    display: flex;
    // position: relative;
    // height: auto;
    justify-content: space-between;
                @media (max-width:900px) {
                    flex-wrap: wrap;
                }
    .burgers {
        // display: inline;
            // float: left;
            width: 38%;
            margin-left: 9%;
            margin-right: 3%;
            // margin: 0 6%;
            // padding: 10% 0;

            @media (max-width:900px) {
                width: 100%;
                padding: 0;
                margin: 0 auto;
                text-align: center;
            }
            h2, p, .read-more {
                margin: 3% 0;
            }
        }

        
    .burger-image {
        // position: relative;
        // display: inline;
        // width: 100%;
        // height: 50vh;
        width: 50%;
                        @media (max-width:900px) {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        }

        img {
            // z-index: -1;
            // transform: translateX(-10%) translateY(-10%);
            display: block;
            transform: translateY(-35%) translateX(0);
            // position: absolute;
            box-shadow: 35px 35px 0 -20px $secondaryColor;
            // width: 50%;
        
            @media (max-width:900px) {
                box-shadow: 0px 0px $secondaryColor;
                transform: translateY(0);
            }
        }

        

        // .burger-background {
            // background: $secondaryColor;
            // width: 100%;
            // height: 100%;
            // z-index: 1;
            // position: absolute;
            // left: 0;
            // top: 0;
            // height: 220px;
            // width: 300px;
            
        // }
    }
}


// .yummy {
//     display: grid;
//     grid-template-columns: repeat(7, 1fr);
//     grid-template-rows: repeat(4, 25%);

//     position: relative;
//     padding: 10% 0;
    
//     .burger-image {

//         grid-column: 1 / 4;
//         grid-row-end: 1;
//         width: 100%;
//         position: absolute;
//         top: -10%;
//         left: 0;
//     }

//     .burgers {
//         grid-column: 4 / 8;
//     }

//     .something-new {
//         grid-row: 3 / 5;
//         grid-column: -8 / -5;
//         margin-top: 10%;
//     }
// }
}

.gift {
    text-align: center;
    padding: 5% 0;

    h2 {
        color: $secondaryColor;
    }

    h2, p {
        margin: 3% 0;
    }
}

label {
    display: none;
    

}

.nature .wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 4% 0;

    @media (max-width:900px) {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }

    h2 {
        color: $secondaryColor;

    }

    h2, p {
        margin: 3% 0;
    }

    .nature-image {
        width: 30%;

        @media (max-width:900px) {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        img {
            box-shadow: -35px 35px 0 -15px $secondaryColor;
            @media (max-width:900px) {
                box-shadow: none;
                // display: inline;
            }

        }
    }

    .nature-text {
        width: 65%;
        margin-left: 5%;
        @media (max-width:900px) {
            margin: 0;
            width: 100%;
            text-align: center;
        }
    }
}



footer {
    background: $primary-black;
    text-align: center;
    padding: 1% 0;
}