article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  border: 1px solid red;
}

body, h1, h2, h3, ul, nav, li, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 2rem;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.blog-wrapper {
  max-width: 90%;
  margin: 0 auto;
}

h2 {
  font-size: 4.5rem;
  font-weight: normal;
}

.main {
  background-image: url(../assets/home-header.jpg);
  background-size: cover;
  height: 90vh;
  background-position: center;
}

.main h1 {
  font-weight: 600;
  font-size: 6.9rem;
  width: 30%;
  margin-top: 5%;
  padding-left: 1%;
  padding-top: 1%;
}

.main h1 .restaurant {
  color: black;
  background-color: white;
}

.contact {
  background-image: url(../assets/contact-header.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.blog-header {
  background-image: url(../assets/blog-header.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
}

header {
  position: relative;
}

header nav {
  padding-top: 3%;
  font-weight: 700;
  font-size: 2rem;
  line-height: 29px;
  letter-spacing: 1px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
}

header nav ul li {
  padding: 10px 0;
}

header nav ul li:hover {
  border-bottom: 2px solid #FFD300;
}

.home-image-overlay {
  position: absolute;
  top: 30%;
  right: 0;
  width: 50%;
}

.info, .gift, .nature {
  background-color: #2B331B;
}

.yummy-burger, .gallery {
  background-color: #1d2212;
}

.info {
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.info .location, .info .blog, .info .community, .info .get-in-touch {
  width: 50%;
  padding: 5% 1%;
  margin-bottom: 10%;
}

.info i {
  background-color: #FFD300;
  border-radius: 50% 50%;
  width: 40px;
  height: 40px;
  color: black;
  float: left;
  text-align: center;
  line-height: 1.8;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery img {
  padding: 2%;
}

.read-more {
  background: #FFD300;
  padding: 1% 2%;
  color: black;
  text-transform: uppercase;
}

.yummy-burger {
  padding-top: 5%;
}

.yummy-burger .something-new-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.yummy-burger .something-new-section .something-new {
  width: 38%;
  margin: 0 6%;
}

.yummy-burger .something-new-section .something-new-image {
  width: 50%;
}

.yummy-burger .something-new-section .something-new-image img {
  display: block;
  -webkit-box-shadow: -35px 35px 0 -20px #FFD300;
          box-shadow: -35px 35px 0 -20px #FFD300;
}

.yummy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.yummy .burgers {
  width: 38%;
  margin: 0 6%;
}

.yummy .burgers h2, .yummy .burgers p, .yummy .burgers .read-more {
  margin: 3% 0;
}

.yummy .burger-image {
  width: 50%;
}

.yummy .burger-image img {
  display: block;
  -webkit-transform: translateY(-35%) translateX(0);
          transform: translateY(-35%) translateX(0);
  -webkit-box-shadow: 35px 35px 0 -20px #FFD300;
          box-shadow: 35px 35px 0 -20px #FFD300;
}

.gift {
  text-align: center;
  padding: 5% 0;
}

label {
  display: none;
}

.nature .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 4% 0;
}

.nature .wrapper .nature-image {
  width: 30%;
}

.nature .wrapper .nature-image img {
  -webkit-box-shadow: -35px 35px 0 -15px #FFD300;
          box-shadow: -35px 35px 0 -15px #FFD300;
}

.nature .wrapper .nature-text {
  width: 70%;
}

.contact-form {
  background: #2B331B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-form i {
  color: #FFD300;
}

.contact-form fieldset {
  background: #0f1209;
  width: 50%;
  border: none;
}

.contact-form input[name="name"] {
  width: 100%;
}

.blog-wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.blog-main {
  background: #2B331B;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10%;
}

.blog-main .employment-text {
  margin-top: 40%;
  width: 100%;
}

.blog-main .employment-image {
  position: absolute;
  top: -30%;
  right: 0;
  background: #FFD300;
  display: inline-block;
}

.blog-main .employment-image img {
  display: block;
  -webkit-box-shadow: -35px 35px 0 -20px #FFD300;
          box-shadow: -35px 35px 0 -20px #FFD300;
}

.blog-main .featured-aside {
  margin-left: 5%;
  margin-right: 5%;
  padding-right: 3%;
  background: #171B0E;
}

.blog-main .featured-aside .featured-image img {
  -webkit-transform: translateX(0) translateY(-40px);
          transform: translateX(0) translateY(-40px);
}

.blog-main .featured-aside .featured h3 {
  font-weight: normal;
  color: #FFD300;
}

.blog-main .part-two {
  width: 70%;
}

.blog-main fieldset {
  border: none;
}

.blog-main #blog-name {
  border: none;
  border-bottom: 4px solid #FFD300;
}

footer {
  background: #171B0E;
  text-align: center;
}
